node_modules
.next
.git
.gitignore
Dockerfile
docker-compose.yml
docker-compose*.yml
.dockerignore
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
out
build
README.md
nginx
